@import "../../global.scss";

.descobrirBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: co;
  width: 100vw;
  height: 100%;
  background-image: url(../../images/backgroundGradient.png);

  .descobrirSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 90vh;
    background-color: white;
    margin: 5vh;
    padding: 0 10vh;
    border-radius: 30px;
    overflow-x: hidden;

    .searchAndTags {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: auto;
      .searchBar {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 25px;
        margin: 10px;
        height: 100%;
        width: 95%;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          height: 100%;

          img {
            height: 100%;
          }
        }

        input {
          background-color: transparent;
          border-color: transparent;
          outline: none;
          width: 100%;
          height: 100%;
          font-size: 15px;
        }
      }

      .tagsBar {
        display: flex;
        height: 100%;
        width: 90%;

        a {
          text-decoration: none;
          color: #000;
          font-weight: bold;
          margin: 0 10px;
        }
      }
    }

    .postBody {
      overflow-y: scroll;
      height: 100%;
      width: 80%;

      .postOwner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-top: 5vh;

        img {
          height: 10vh;
        }

        .ownerInfo {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          height: 10vh;
          width: 100%;

          h1,
          h2 {
            font-size: 1.3em;
            margin: 0 0 0 0.5em;
          }

          h2 {
            font-style: italic;
          }
        }
      }

      .postContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        img {
          object-fit: cover;
          width: 100%;
          margin: 0 5em 0 0;
        }
      }

      .postInteractions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .postReactions {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;

            &:active {
              background-color: red;
              border-radius: 100px;
            }
          }

          img {
            height: 30px;
          }
        }

        .postType {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 30%;
          margin: 0 1em 0 0;

          img {
            height: 30px;
            margin: 0 1em 0 0;
          }
        }
      }

      .postComments {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .leaveComment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        input {
          width: 100%;
          background-color: transparent;
          border: none;
        }

        img {
          height: 50px;
        }
      }
    }
  }
}
