@import "../../global.scss";

.chatBody {
    display: flex;
    flex-direction: row;
    width: 100vw;

    .chatSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: pink;
    }
}