@import "../../global.scss";

.verMelhorBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  background-image: url(../../images/backgroundGradient.png);

  .verMelhorSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 90vh;
    background-color: white;
    margin: 5vh;
    border-radius: 30px;

    .searchAndTags {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      height: auto;
      padding: 2rem;
      .searchBar {
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 25px;
        margin: 10px;
        height: 30%;
        width: 95%;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          height: 100%;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        input {
          background-color: transparent;
          border-color: transparent;
          outline: none;
          width: 100%;  
          font-size: 15px;
        }
      }

      .tagsBar {
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 90%;

        a {
          text-decoration: none;
          color: #000;
          font-weight: bold;
          margin: 0 10px 2.5px 10px;
          padding: 10px;
          border-radius: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }
    }

    .usersList {
      overflow-y: scroll;
      width: 70%;
      text-align: center;

      .tableUsers {

        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        
        tbody {

          display: flex;
          flex-direction: column;
          width: 100%;
  
          .profileImgWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;

                border-radius: 100%;
            }
          }
  
          tr {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;

            margin: .5rem 0;

            background-color: #f2f2f2;

            transition: all 0.2s ease-in-out;

            border-radius: 5px;

            td {
              margin: 5px;

              a {
                text-decoration: none;
                color: #d7007f;
              }

              button {
                cursor: pointer;
                font-size: 12px;
                outline: none;
                border: none;
                padding: .3rem 1rem;
                border-radius: 5px;

                background-color: #d7007f;
                color: #fff;
                font-weight: 700;

                transition: all .2s ease-in-out;

                &:hover {
                  background-color: #ff1fa2;
                }
              }
            }

            td:nth-child(2) {
                color: #d7007f;
                margin: 0 1rem;
            }
          }
        }
      }
    }
  }
}
