@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Mulish:wght@500&display=swap');

* {
    overflow: hidden;
    transition: 250ms;
    font-family: 'Montserrat', sans-serif;

    /*Firefox*/
    scrollbar-width: auto;
    scrollbar-color: #474747;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #474747;
    border-radius: 0px;
    border: 0px none #ffffff;
  }
  
}