@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&family=Mulish:wght@500&display=swap');

* {
    overflow: hidden;
    transition: 250ms;
    font-family: 'Montserrat', sans-serif;
}